<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NTComponents Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NTComponents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NTResume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>380460AA1E9F1986008A03B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>380460C01E9F19A0008A03B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>380460F11EA2A6C2008A03B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3818F6D61E5BDEA600902E23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3849B2CA1E655DA800A86586</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3849B2E01E655F3400A86586</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3881E3551F04DED10013D241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38E624F91E63AF9C003DC7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
